@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, li, a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

:root {
    --text-color-1: #fff;
    --text-color-2: #000;
    --text-color-3: #868686;
    --color-1: #0F7991;
    --color-2: #E2D1A3;
    --color-3: #9AA31F;
    --color-4: #FF9429;
    --color-5: #B21000;
    --color-6: #591902;
    --color-7: #f7fd99;
    --color-8: #dadada;
}

header {
    background: linear-gradient(to bottom, #f6fd999f, #e2d1a3b6), url(/assets/background-illustrator.png);
    height: 100%;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-2);
}

header nav .logo img {
    width: 90px;
}

header nav .sidebar, 
header nav .menu-btn {
    display: none;
}

header nav ul {
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

header nav ul li {
    transition: font-weight .3s ease-in-out;
    font-weight: 800;
}

header nav ul li:hover {
    color: var(--color-5);
    font-weight: 800;
}

header .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 1.5rem;
    font-family: 'Bevan', sans-serif;
    text-transform: uppercase;
    height: 602px;
}

header .hero-section .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header .hero-section .left p {
    font-size: .9rem;
    padding: 9px;
    width: 410px;
    border: 2px dashed var(--color-6);
}

header .hero-section .left button {
    width: 36%;
    padding: 10px;
    border: 2px solid var(--color-6);
    background: transparent;
    border-radius: 80px;
    color: var(--color-6);
    font-weight: 800;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    position: relative;
}

header .hero-section .left button:hover {
    background-color: var(--color-6);
    color: #fff;
}

header .hero-section .right img {
    width: 500px;
}

.about-main {
    background-color: var(--color-2);
    padding: 3rem 8rem;
}

.about-main h2,
.about-main h1 {
    font-family: "Bevan", sans-serif;
    font-size: 1.8rem;
    padding-bottom: 2px;
}

.about-main p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.about-main ul li {
    list-style: circle;
    margin-left: 2rem;
    padding: 10px;
}

.about-main div {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(220deg, #0000002d, #00000033), url(assets/footer-image\(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

footer .about img {
    width: 100px;
}

footer .about p {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-1);
    width: 80%;
    margin-top: 20px;
}

footer .contacts {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-1);
}

footer .contacts .location-container {
    display: flex;
    gap: 10px;
}

.copyright-container {
    display: flex;
    justify-content: center;
    height: 100%;
    color: var(--text-color-1);
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-6);
    padding: 10px;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--color-6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color .3s ease-out;
}
#topButton:hover {
    background-color: var(--color-5);
}